:root{
    --main: rgba(0, 0, 0, 1);
    --button-color: rgba(61, 55, 55, 1);
    --light-text: rgba(217, 217, 217, 1);
    --light-text2: rgba(117, 115, 115, 0.9);
    --white: rgb(255, 255, 255);


}