@media screen and (max-width:855px) {

    .header-content-holder{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .header-section span{
        font-size: 30px;
        text-align: center;
    }

    .pricing{
        font-size: 35px;
    }

    .pricing-tags{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       padding-left: 20px;

    }

    .first-price{
        margin: 5px 15px;
        border: none;
    
    }

    .first-price{
        padding: 0 0 0 18px;
    }
}